configuration {
  font: "FiraCode Nerd Font 12";
  show-icons: true;
}


//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

@theme "/home/roi/.local/share/rofi/themes/spotlight.rasi"
