@define-color fg #efefef;
@define-color bg transparent;
@define-color bordercolor transparent;
@define-color disabled #a5a5a5;
@define-color alert #f53c3c;
@define-color activegreen #8fb666;
@define-color componentBg #2c2845;
/*$text: #efefef;*/
/*$background: #0e0c1f;*/
/*$primary: #00e8ff;*/
/*$secondary: #d6104c;*/
/*$accent: #ffec21;*/

* {
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", "Hack Nerd Font", FontAwesome, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
}

window#waybar {
  color: @fg;
  background: @bg;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: 2px solid @bordercolor;
}

window#waybar.empty {
  opacity: 0.3;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button {
  color: @fg;
  /* padding : 0px 5px; */
}

#workspaces button.urgent {
  color: @alert;
}
#workspaces button.empty {
  color: @disabled;
}

#workspaces button.active {
  color: #f2c187;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#language,
#backlight,
#backlight-slider,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#taskbar,
#tray,
#tray menu,
#tray > .needs-attention,
#tray > .passive,
#tray > .active,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-power,
#window,
#mpd {
  padding: 0px 5px;
  padding-right: 10px;
  margin: 3px 3px;
  color: @fg;
}

#custom-power {
  color: @fg;
  padding-left: 10px;
}

#custom-separator {
  color: @disabled;
}

#network.disconnected,
#pulseaudio.muted,
#wireplumber.muted {
  color: @alert;
}

#battery.charging,
#battery.plugged {
  color: #26a65b;
}

label:focus {
  background-color: #333333;
}

#battery.critical:not(.charging) {
  background-color: @alert;
  color: @fg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: #cb221b;
}

#temperature {
  color: #d55c0d;
}

#memory {
  color: #679c68;
}

#disk {
  color: #979618;
}

#backlight {
  color: #d69821;
}

#pulseaudio {
  color: #448486;
}

#clock {
  color: @fg;
}

#battery {
  color: #5cc084;
}

#network {
  color: #48aa4c;
}

/* In case you want to seperate the modules in left/right/center */
.modules-left {
  background: @componentBg;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
  opacity: 0.9;
}

.modules-right {
  background: @componentBg;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 5px;
  opacity: 0.9;
}

.modules-center {
  background: @componentBg;
  opacity: 0.9;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
