/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "  ";
  display-window: "﩯 ";
  display-combi: "  ";
}
//@theme "themes/sidetab-nord.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

//@theme "/home/roi/.local/share/rofi/themes/launchpad.rasi"

//@theme "/home/roi/.local/share/rofi/themes/simple-tokyonight.rasi"

//@theme "/home/roi/.local/share/rofi/themes/windows11-grid-dark.rasi"

@theme "/home/roi/.local/share/rofi/themes/spotlight.rasi"
